body {
    background: #333;
}

canvas {
    background: white;
}

h1 {
    text-align: center;
}

.root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info {
    color: white;
    margin-bottom: 40px ;
    width: 500px;
}
